[Interface]
PrivateKey = {{ wireguard_private_key }}
Address = {{ wireguard_address }}
ListenPort = {{ wireguard_listen_port | default('51820') }}

{% for peer in wireguard_peers %}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.address }}
Endpoint = {{ peer.ansible_host }}:{{ peer.listen_port }}
PersistentKeepalive = 25
{% endfor %}
